{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- contact10:51-->
<head>
<meta charset="utf-8">
<title>DIC - Factory, Industry, and Manufacturing | Contact</title>
<!-- Stylesheets -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
<!--Color Switcher Mockup-->
<link href="{% static 'css/color-switcher-design.css' %}" rel="stylesheet">

<!--Color Themes-->
<link id="theme-color-file" href="{% static 'css/color-themes/default-theme.css' %}" rel="stylesheet">

<link rel="shortcut icon" href="{% static 'images/logosmall.png' %}" type="image/x-icon">
<link rel="icon" href="{% static 'images/logosmall.png' %}" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="{% static 'js/respond.js' %}"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Sidenav Bar -->
    <section class="sidenav-bar">
        <div class="nav-box">
            <div class="inner-box">
                <div class="upper-box">
                    <div class="btn-box"><button class="close-btn"><span class="fa fa-times"></span></button></div>
                </div>

                <!-- .Side Nav -->
                <nav class="side-nav">
                    <ul class="navigation clearfix" id="nav">
                        <li><a href="home">Home</a></li>
                        <li><a href="aboutus">About Us</a></li>
                        <li class="dropdown"><a href="services">Resources</a>
                            <ul>
                                <li><a href="services">All Services</a></li>
                                <li><a href="service_land">Land</a></li>
                                <li><a href="service_power">Power</a></li>
                                <li><a href="service_water">Water</a></li>
                                <li><a href="service_finance">Finance</a></li>
                                <li><a href="service_tech">Technology and consultance</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="policies">Policies,Act & Rules</a>
                            <ul>
                                <li><a href="policies">policies</a></li>
                                <li><a href="gos">GOVERNMENT ORDERS & CIRCULARS</a></li>
                                <li><a href="acts">ACTS & RULES</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="dept">Invester Services</a>
                            <ul>
                                <li><a href="https://udyogaadhaar.gov.in">Udyog Aadhar Memorandum Portal </a></li>
                                <li><a href="https://www.kviconline.gov.in/pmegpeportal/pmegphome/index.jsp">PMEGP Online Portal</a></li>
                                <li><a href="https://cmegp.kar.nic.in/">CMEGP Online Portal</a></li>
                                <li><a href="https://rtionline.gov.in/">RTI</a></li>
                                <li><a href="dept">Related department</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="invest">INVEST BALLARI</a>
                            <ul>
                                <li><a href="why">Why Ballari</a></li>
                                <li><a href="district">District Profile</a></li>
                                <li><a href="indust">Industrial Profile</a></li>
                                <li><a href="home">Sectorial Advantages</a></li>
                            </ul>
                        </li>

                        <li><a href="contact">Contact</a></li>
                        <li><a href="mainscheme">Schemes & programs</a></li>
                    </ul>
                </nav><!-- /.Side-menu -->

                <div class="contact-info-box">
                    <!--Info Box-->
                    <div class="info-box">
                        <div class="icon-box"><span class="fa fa-home"></span></div>
                        <p>Hospet Rd, Narayanappa Compound,<br> Fort, Ballari, Karnataka 583104</p>
                    </div>

                    <!--Info Box-->
                    <div class="info-box">
                        <div class="icon-box"><span class="far fa-clock"></span></div>
                        <p>Mon - Sat: 10:00 am - 5:30 pm</p>
                        <p>2nd & 4th saturday and sunday's  --- Closed</p>
                    </div>

                    <!--Info Box-->
                    <div class="info-box">
                        <div class="icon-box"><span class="far fa-envelope"></span></div>
                        <p><a href="tel:08392 242370">08392 242370</a></p>
                        <p><a href="mailto:jd-ballari@gmail.com">jd-ballari@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Sidenav Bar -->

    <!-- Start Main Content -->
    <main id="content">

        <!-- Main Header-->
        <header class="main-header">
            <div class="outer-container">
                <div class="main-box clearfix">
                    <div class="logo-box">
                        <script>
                        function goBack() {
                        window.history.back();
                        }
                        </script>
                        <div class="logo"><a onclick="goBack()"><img src="{% static 'back.png' %}"></a></div>
                    </div>


                    <div class="outer-box clearfix">
                        <!-- Search Btn -->
                        <!-- Btn box -->
                        <div class="logo-box">
                        <div class="logo"><a href="home"><img src="{% static 'images/home.png' %}" alt="" title=""></a></div>
                        </div>
                        <div class="btn-box no-touch"><button class="nav-toggler"><span></span></button></div>
                    </div>
                </div>
            </div>
        </header>
        <!--End Main Header -->


        <!-- Contact Page Section -->
        <section class="contact-page-section">
            <div class="auto-container">
                <div class="sec-title">
                    <span class="float-text">Message</span>
                    <h2>Message <span>Us</span></h2>
                </div>
                <div class="row clearfix">
                    <div class="contact-column col-lg-4 col-md-12 col-sm-12 order-2">
                        <div class="inner-column">
                            <ul class="contact-info">
                                <li>
                                    <span class="icon fa fa-map-marker-alt"></span>
                                    <p><strong>Hospet Rd, Narayanappa Compound, Fort,</strong></p>
                                    <p> Ballari, Karnataka 583104</p>
                                </li>

                                <li>
                                    <span class="icon fa fa-phone-volume"></span>
                                    <p><strong>Call Us</strong></p>
                                    <p><a href="tel:08392 242370">08392 242370</a></p>
                                </li>

                                <li>
                                    <span class="icon fa fa-envelope"></span>
                                    <p><strong>Mail Us</strong></p>
                                    <p><a href="mailto:jd-ballari@gmail.com">jd-ballari@gmail.com</a></p>
                                </li>

                                <li>
                                    <span class="icon fa fa-clock"></span>
                                    <p><strong>Opening Time</strong></p>
                                    <p>Mon - Sat: 10:00 am - 5:30 pm</p>
                                </li>
                            </ul>

                            <ul class="social-icon-two">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    {% if name %}
                    <div class="sec-title">
                    <h2>Thanks <span>{{name}}</span></h2>
                        <h3>we received your mail and will respond shortly</h3>
                </div>
                    {% else %}
                    <!-- Form Column -->
                    <div class="form-column col-lg-8 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="contact-form">
                                <form method="post" action="contact1" id="contact-form">
                                    {% csrf_token %}
                                    <div class="row clearfix">
                                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                            <input type="text" name="username" placeholder="Name" required="">
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                            <input type="text" name="phone" placeholder="Phone" required="">
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                            <input type="email" name="email" placeholder="Email" required="">
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                            <input type="text" name="subject" placeholder="Subject" required="">
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                            <textarea name="message" placeholder="Message"></textarea>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                            <button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="btn-title">Submit Now</span></button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
        <!--End Contact Page Section -->



         <!-- Clients Section -->
        <section class="clients-section">
            <div class="auto-container">
                <div class="sponsors-outer">
                    <!--Sponsors Carousel-->
                    <br>
                    <h4><span class="theme_color"></span>Boards & Corporations Links</h4>
                    <ul class="sponsors-carousel owl-carousel owl-theme">
                        <li class="slide-item"><figure class="image"><a href="http://www.karnataka.gov.in/gttc/Pages/Home.aspx"><img src="{% static 'images/sponsors/sp1.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://ksfc.in/"><img src="{% static 'images/sponsors/sp2.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://www.tecsok.com/"><img src="{% static 'images/sponsors/sp3.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://www.kctu.kar.nic.in/"><img src="{% static 'images/sponsors/sp4.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="#"><img src="{% static 'images/sponsors/sp5.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://www.investkarnataka.co.in/"><img src="{% static 'images/sponsors/sp6.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="https://www.ksiidc.com/"><img src="{% static 'images/sponsors/sp7.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://kssidc.co.in/"><img src="{% static 'images/sponsors/sp8.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="https://www.vtpckarnataka.gov.in/"><img src="{% static 'images/sponsors/sp9.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://kiadb.in/"><img src="{% static 'images/sponsors/sp10.jpg' %}" alt=""></a></figure></li>
                    </ul>
                    <br>
                    <h4><span class="theme_color"></span>Related Departments</h4>
                    <ul class="sponsors-carousel owl-carousel owl-theme">
                        <li class="slide-item"><figure class="image"><a href="https://www.kuwsdb.org/"><img src="{% static 'images/sponsors/sp11.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="https://bescom.org/en/"><img src="{% static 'images/sponsors/sp12.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="https://www.biabidadi.com/"><img src="{% static 'images/sponsors/sp13.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://kredlinfo.in/"><img src="{% static 'images/sponsors/sp14.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://itbt.karnataka.gov.in/kannada/pages/home.aspx"><img src="{% static 'images/sponsors/sp15.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://www.karnataka.gov.in/Pages/home.aspx"><img src="{% static 'images/sponsors/sp16.jpg' %}" alt=""></a></figure></li>
                    </ul>
                    <br>
                    <h4><span class="theme_color"></span>Central Govt. Related Links</h4>
                    <ul class="sponsors-carousel owl-carousel owl-theme">
                        <li class="slide-item"><figure class="image"><a href="http://www.msme.gov.in/"><img src="{% static 'images/sponsors/s1.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://www.kvic.org.in/kvicres/index.html"><img src="{% static 'images/sponsors/s2.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://www.skilldevelopment.gov.in/"><img src="{% static 'images/sponsors/s3.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="https://www.standupmitra.in/"><img src="{% static 'images/sponsors/s4.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://www.sidbi.com/"><img src="{% static 'images/sponsors/s5.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://www.nsic.co.in/"><img src="{% static 'images/sponsors/s6.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="https://www.dicBallari.com/#"><img src="{% static 'images/sponsors/s7.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://www.makeinindia.com/"><img src="{% static 'images/sponsors/s8.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://digitalindia.gov.in/"><img src="{% static 'images/sponsors/s9.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="https://www.startupindia.gov.in/"><img src="{% static 'images/sponsors/s10.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://www.kvic.org.in/kvicres/index.html"><img src="{% static 'images/sponsors/s11.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="https://www.zed.org.in/"><img src="{% static 'images/sponsors/s12.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="https://www.india.gov.in/"><img src="{% static 'images/sponsors/s13.jpg' %}" alt=""></a></figure></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Clients Section -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="auto-container">
                    <div class="row">
                                <!--Footer Column-->
                                <div class="mapouter"><div class="gmap_canvas"><iframe width="802" height="333" id="gmap_canvas" src="https://maps.google.com/maps?q=dic%20ballari&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.enable-javascript.net/blog/divi-discount/"></a></div><style>.mapouter{position:relative;text-align:right;height:333px;width:802px;}.gmap_canvas {overflow:hidden;background:none!important;height:333px;width:802px;}</style></div>
                                    <section style="padding-left:40px"><div class="footer-widget contact-widget">
                                        <h2 class="widget-title">Contact Us</h2>
                                         <!--Footer Column-->
                                        <div class="widget-content">
                                            <ul class="contact-list">
                                                <li>
                                                    <span class="icon flaticon-clock"></span>
                                                    <div class="text">Mon - Sat: 10:00 am - 5:30 pm</div>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-call-1"></span>
                                                    <div class="text"><a href="tel:08392 242370">08392 242370</a></div>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-paper-plane"></span>
                                                    <div class="text"><a href="mailto:jd-ballari@gmail.com">jd-ballari@gmail.com</a></div>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-worldwide"></span>
                                                    <div class="text">Hospet Rd, Narayanappa Compound, Fort,<br> Ballari, Karnataka 583104</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div></section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    <!-- End Main Content -->
</div>

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>


<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/mixitup.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'js/validate.js' %}"></script>
<script src="{% static 'js/TweenMax.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<!-- Color Setting -->
<script src="{% static 'js/color-settings.js' %}"></script>
<!--Google Map APi Key-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2uu6KHbLc_y7fyAVA4dpqSVM4w9ZnnUw"></script>
<script src="{% static 'js/map-script.js' %}"></script>
<!--End Google Map APi-->

</body>

<!-- contact10:55-->
</html>