{% load static %}
<!DOCTYPE html>
<html lang="en">
<!--  00:32-->
<head>
<meta charset="utf-8">
<title>DIC - Factory, Industry, and Manufacturing | Home </title>
<!-- Stylesheets -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
<!--Color Switcher Mockup-->
<link href="{% static 'css/color-switcher-design.css' %}" rel="stylesheet">

<!--Color Themes-->
<link id="theme-color-file" href="{% static 'css/color-themes/default-theme.css' %}" rel="stylesheet">

<link rel="shortcut icon" href="{% static 'images/logosmall.png' %}" type="image/x-icon">
<link rel="icon" href="{% static 'images/logosmall.png' %}" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="{% static 'js/respond.js' %}"></script><![endif]-->
<!-- marquee -->
</head>

<body>

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Sidenav Bar -->
    <section class="sidenav-bar">
        <div class="nav-box">
            <div class="inner-box">
                <div class="upper-box">
                    <div class="btn-box"><button class="close-btn"><span class="fa fa-times"></span></button></div>
                </div>

                <!-- .Side Nav -->
                <nav class="side-nav">
                    <ul class="navigation clearfix" id="nav">
                        <li><a href="home">Home</a></li>
                        <li><a href="aboutus">About Us</a></li>
                        <li class="dropdown"><a href="services">Resources</a>
                            <ul>
                                <li><a href="services">All Resources</a></li>
                                <li><a href="service_land">Land</a></li>
                                <li><a href="service_power">Power</a></li>
                                <li><a href="service_water">Water</a></li>
                                <li><a href="service_finance">Finance</a></li>
                                <li><a href="service_tech">Technology and consultance</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="policies">Policies,Act & Rules</a>
                            <ul>
                                <li><a href="policies">policies</a></li>
                                <li><a href="gos">GOVERNMENT ORDERS & CIRCULARS</a></li>
                                <li><a href="acts">ACTS & RULES</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="dept">Invester Services</a>
                            <ul>
                                <li><a href="https://udyogaadhaar.gov.in">Udyog Aadhar Memorandum Portal </a></li>
                                <li><a href="https://www.kviconline.gov.in/pmegpeportal/pmegphome/index.jsp">PMEGP Online Portal</a></li>
                                <li><a href="https://cmegp.kar.nic.in/">CMEGP Online Portal</a></li>
                                <li><a href="https://rtionline.gov.in/">RTI</a></li>
                                <li><a href="dept">Related department</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="invest">INVEST BALLARI</a>
                            <ul>
                                <li><a href="why">Why Ballari</a></li>
                                <li><a href="district">District Profile</a></li>
                                <li><a href="indust">Industrial Profile</a></li>
                                <li><a href="home">Sectorial Advantages</a></li>
                            </ul>
                        </li>

                        <li><a href="contact">Contact</a></li>
                        <li><a href="mainscheme">Schemes & programs</a></li>
                    </ul>
                </nav><!-- /.Side-menu -->

                <div class="contact-info-box">
                    <!--Info Box-->
                    <div class="info-box">
                        <div class="icon-box"><span class="fa fa-home"></span></div>
                        <p>Hospet Rd, Narayanappa Compound,<br> Fort, Ballari, Karnataka 583104</p>
                    </div>

                    <!--Info Box-->
                    <div class="info-box">
                        <div class="icon-box"><span class="far fa-clock"></span></div>
                        <p>Mon - Sat: 10:00 am - 5:30 pm</p>
                        <p>2nd & 4th saturday and sunday's  --- Closed</p>
                    </div>

                    <!--Info Box-->
                    <div class="info-box">
                        <div class="icon-box"><span class="far fa-envelope"></span></div>
                        <p><a href="tel:08392 242370">08392 242370</a></p>
                        <p><a href="mailto:jd-ballari@gmail.com">jd-ballari@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Sidenav Bar -->

    <!-- Start Main Content -->
    <main id="content">

        <!-- Main Header-->






        <!-- Banner Section -->
        <section class="banner-section">
            <div id="banner-slider" class="banner-slider-wrapper swiper-container">
                <div class="swiper-wrapper banner-slider">
                    <!-- SLIDER ITEM -->
                    <header class="main-header">
            <div class="outer-container">
                <div class="main-box clearfix">
                    <div class="logo-box">
                        <div class="logo"><a ><img src="{% static 'welcome.png' %}"  alt="" title=""></a></div>
                    </div>


                    <div class="outer-box clearfix">

                        <!-- Search Btn -->
                        <div class="logo-box">
                            <div class="logo"><a ><img src="{% static 'welcome2.jpg' %}" alt="" title=""></a></div>
                        </div>
                        <br><br><br>
                        <!-- Btn box -->
                        <!-- <div class="btn-box no-touch"><button class="nav-toggler"><span></span></button></div> -->
                    </div>
                </div>
            </div>
        </header>
        <!--End Main Header -->
                    <div class="banner-slider-item swiper-slide">
                        <figure class="media-wrapper slide-inner"><img src="{% static 'images/main-slider/gear1.jpg' %}" alt=""></figure>
<!-- modified from here -->
                        <div class="content-box">
                            <head>
              <meta http-equiv="content-type" content="text/html; charset=utf-8">
              <meta name="Author" content="blog.sombex.com">
              <title>Arranging Items around a Circle</title>
              <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
              <link  rel = "stylesheet" href = "{% static 'style.css' %}"/>
              </head>
              <body>

<!-- changes made for marquee-->
                      <section>
              <div class="marque">
        <h2></h2>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>Notifications</h4></div>
                <div class="panel-body">
                  <marquee onmouseover='this.stop();' onmouseout='this.start();' direction="up" height="250"  scrollamount="3">
<!-- Your first text here followed by link -->
                      {% for obj in obj_left %}
{{obj.msg}}
<a href="{{obj.url}}"> Link</a><hr>
                      {% endfor %}
</marquee>
                </div>
            </div></>
        </div>
    </div>
</section>

              <section>
              <div class="marque2">
        <h2></h2>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>News</h4></div>
                <div class="panel-body">
                  <marquee onmouseover='this.stop();' onmouseout='this.start();' direction="up" height="250"  scrollamount="3"  >
<!-- Your first text here followed by link -->
                      {% for obj in obj_right %}
{{obj.msg}}
<a href="{{obj.url}}"> Link</a><hr>
                      {% endfor %}
</marquee>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of marquee -->

              <div class = "circle-container" style = "margin-top:300px;display:block;">
             <ul class="circle-item">
                  <li onclick="window.location.href='invest'"><img src="{% static 'investbly.jpeg' %}"></li>
                  <li onclick="window.location.href='services'"><img src="{% static 'resources.jpeg' %}"></li>
                  <li onclick="window.location.href='contact'"><img src="{% static 'contactus.jpeg' %}"></li>
                  <li onclick="window.location.href='mainscheme'"><img src="{% static 'schemes.jpeg' %}"></li>
                  <li onclick="window.location.href='aboutus'"><img src="{% static 'aboutus.jpeg' %}"></li>
                 <li onclick="window.location.href='policies'"><img src="{% static 'policies.jpeg' %}"></li>
                 <li onclick="window.location.href='dept'"><img src="{% static 'services.jpeg' %}"></li>
                  <li><img src="{% static 'logo.png' %}"></li>
                 </ul>
                </div>


                <script>
            $(function() {

                var deg = 0;
                var rotate = 1;
                var club_rotate = setInterval(club_rotate, 110);
                $('.circle-item > li').mouseenter(function() {
                    rotate = 0
                });
                $('.circle-item > li').mouseleave(function() {
                    rotate = 1
                });
                function club_rotate() {
                    if (rotate == 0) {
                        return
                    }
                    deg = get_deg(deg + 1);
                    var deg0 = deg;
                    var $data = $('.circle-item').children().not(".circle-item > *:nth-of-type(8)");
                    var length = 13;
                    if ($(window).width() <= 540) {
                        length = 9
                    }
                    $data.each(function() {
                        $(this).css("-webkit-transform", "rotate(" + deg0 + "deg) translate(" + length + "em) rotate(-" + deg0 + "deg)").css("transform", "rotate(" + deg0 + "deg) translate(" + length + "em) rotate(-" + deg0 + "deg)");
                        deg0 = get_deg(deg0 + 51)
                    })
                }

                function get_deg(deg0) {
                    if (deg0 > 360)
                        return (deg0 - 360);
                    else return deg0
                }
            });

                </script>

              </body>


                        </div>
<div class="marquee_mob">
  <div><a>Notifications</a>
      {% for obj in obj_left %}
      <a style="color:orange" href="{{obj.url}}"><b> &emsp; &emsp; &emsp; | {{obj.msg}} |</b></a>
      {% endfor %}
  </div>
</div>
                    </div>
                    <!-- SLIDER ITEM -->

                    <!-- SLIDER ITEM -->
                    <div class="banner-slider-item swiper-slide">
                        <figure class="media-wrapper slide-inner"><img src="{% static 'images/main-slider/wheel.jpg' %}" alt=""></figure>

                        <div class="content-box">
                            <div class="content">
                                <div class="auto-container">
                                    <h3>WELCOME TO DISTRICT INDUSTRIES CENTRE
                                        <br> <span class="theme_color">BALLARI</span></h3>
                                    <div class="text">The District Industries Centre Ballari under the Department of Industries and Commerce Govt. of Karnataka is
the prime department for the development of industries in the District. District Industries Centre is engaged in
Development of Micro, Small, Medium Industries as well as hand holding supports for large industries. DIC is also
support for building young educated youths and artisans in establishing micro enterprises by conducting EAP, EDP
and skill development programmes.</div>
                                    <div class="btn-box"><a href="services" class="theme-btn btn-style-two"><span class="btn-title">Our Services</span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- SLIDER ITEM -->

                    <!-- SLIDER ITEM -->
                    <div class="banner-slider-item swiper-slide">
                        <figure class="media-wrapper slide-inner"><img src="{% static 'images/main-slider/spark.jpg' %}" alt=""></figure>

                        <div class="content-box">
                            <div class="content">
                                <div class="auto-container">
                                    <h3>FOCUSED <span class="theme_color">AREAS</span> IN THE DISTRICT</h3>
                                    <a class="theme-btn btn-style-two" href="service_land"><span class="btn-title">LAND</span></a>
                                    <a class="theme-btn btn-style-two" href="service_power"><span class="btn-title">POWER</span></a>
                                    <a class="theme-btn btn-style-two" href="service_water"><span class="btn-title">WATER</span></a>
                                    <a class="theme-btn btn-style-two" href="service_finance"><span class="btn-title">FINANCE</span></a>
                                    <a class="theme-btn btn-style-two" href="service_tech"><span class="btn-title">TECHNOLOGY</span></a>
                                    <a class="theme-btn btn-style-two" href="services"><span class="btn-title">ALL SERVICES</span></a><br><br>
                                    <h3>POLICIES <span class="theme_color">ACTS</span> & RULES</h3>
                                    <a class="theme-btn btn-style-two" href="policies"><span class="btn-title">POLICIES</span></a>
                                    <a class="theme-btn btn-style-two" href="gos"><span class="btn-title">CIRCULARS</span></a>
                                    <a class="theme-btn btn-style-two" href="acts"><span class="btn-title">ACTS & RULES</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- SLIDER ITEM -->

                    <!-- SLIDER ITEM -->
                    <div class="banner-slider-item swiper-slide">
                        <figure class="media-wrapper slide-inner"><img src="{% static 'images/main-slider/3.jpg' %}" alt=""></figure>

                        <div class="content-box">
                            <div class="content">
                                <div class="auto-container">
                                    <h3>INVEST <span class="theme_color">BALLARI</span></h3>
                                    <a class="theme-btn btn-style-two" href="why"><span class="btn-title">WHY BALLARI ?</span></a>
                                    <a class="theme-btn btn-style-two" href="district"><span class="btn-title">DISTRICT PROFILE</span></a>
                                    <a class="theme-btn btn-style-two" href="indust"><span class="btn-title">INDUSTRIAL PROFILE</span></a>
                                    <h3>D.I.C<span class="theme_color"> SCHEMES</span></h3>
                                    <a class="theme-btn btn-style-two" href="ruler"><span class="btn-title">D.I.C Schemes & Programs</span></a>
                                    <a class="theme-btn btn-style-two" href="dicschemes"><span class="btn-title">Rural Industries Schemes & Programs</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- SLIDER ITEM -->

                    <!-- SLIDER ITEM -->
                    <div class="banner-slider-item swiper-slide">
                        <figure class="media-wrapper slide-inner"><img src="{% static 'images/main-slider/6.jpg' %}" alt=""></figure>

                        <div class="content-box">
                            <div class="content">
                                <div class="auto-container">
                                    <!-- Clients Section -->
        <section class="clients-section">

                <div class="sponsors-outer">
                    <!--Sponsors Carousel-->
                    <br>
                    <h4><span class="theme_color"></span>Boards & Corporations Links</h4>
                    <ul class="sponsors-carousel owl-carousel owl-theme">
                        <li class="slide-item"><figure class="image"><a href="http://www.karnataka.gov.in/gttc/Pages/Home.aspx"><img src="{% static 'images/sponsors/sp1.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://ksfc.in/"><img src="{% static 'images/sponsors/sp2.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://www.tecsok.com/"><img src="{% static 'images/sponsors/sp3.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://www.kctu.kar.nic.in/"><img src="{% static 'images/sponsors/sp4.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="#"><img src="{% static 'images/sponsors/sp5.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://www.investkarnataka.co.in/"><img src="{% static 'images/sponsors/sp6.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="https://www.ksiidc.com/"><img src="{% static 'images/sponsors/sp7.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://kssidc.co.in/"><img src="{% static 'images/sponsors/sp8.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="https://www.vtpckarnataka.gov.in/"><img src="{% static 'images/sponsors/sp9.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://kiadb.in/"><img src="{% static 'images/sponsors/sp10.jpg' %}" alt=""></a></figure></li>
                    </ul></div>
                    <br>
            <div class="sponsors-outer">
                    <h4><span class="theme_color"></span>Related Departments</h4>
                    <ul class="sponsors-carousel owl-carousel owl-theme">
                        <li class="slide-item"><figure class="image"><a href="https://www.kuwsdb.org/"><img src="{% static 'images/sponsors/sp11.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="https://bescom.org/en/"><img src="{% static 'images/sponsors/sp12.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="https://www.biabidadi.com/"><img src="{% static 'images/sponsors/sp13.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://kredlinfo.in/"><img src="{% static 'images/sponsors/sp14.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://itbt.karnataka.gov.in/kannada/pages/home.aspx"><img src="{% static 'images/sponsors/sp15.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://www.karnataka.gov.in/Pages/home.aspx"><img src="{% static 'images/sponsors/sp16.jpg' %}" alt=""></a></figure></li>
                    </ul></div>
                    <br>
            <div class="sponsors-outer">
                    <h4><span class="theme_color"></span>Central Govt. Related Links</h4>
                    <ul class="sponsors-carousel owl-carousel owl-theme">
                        <li class="slide-item"><figure class="image"><a href="http://www.msme.gov.in/"><img src="{% static 'images/sponsors/s1.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://www.kvic.org.in/kvicres/index.html"><img src="{% static 'images/sponsors/s2.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://www.skilldevelopment.gov.in/"><img src="{% static 'images/sponsors/s3.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="https://www.standupmitra.in/"><img src="{% static 'images/sponsors/s4.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://www.sidbi.com/"><img src="{% static 'images/sponsors/s5.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://www.nsic.co.in/"><img src="{% static 'images/sponsors/s6.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="https://www.dicBallari.com/#"><img src="{% static 'images/sponsors/s7.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://www.makeinindia.com/"><img src="{% static 'images/sponsors/s8.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://digitalindia.gov.in/"><img src="{% static 'images/sponsors/s9.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="https://www.startupindia.gov.in/"><img src="{% static 'images/sponsors/s10.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="http://www.kvic.org.in/kvicres/index.html"><img src="{% static 'images/sponsors/s11.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="https://www.zed.org.in/"><img src="{% static 'images/sponsors/s12.jpg' %}" alt=""></a></figure></li>
                        <li class="slide-item"><figure class="image"><a href="https://www.india.gov.in/"><img src="{% static 'images/sponsors/s13.jpg' %}" alt=""></a></figure></li>
                    </ul>
                </div>

        </section>
        <!-- End Clients Section -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- SLIDER ITEM -->

                    <!-- SLIDER ITEM -->
                    <div class="banner-slider-item swiper-slide">
                        <figure class="media-wrapper slide-inner"><img src="{% static 'images/main-slider/indus.jpg' %}" alt=""></figure>
                        <div class="circular-menu">
<a target="_blank"><img src="https://www.webfreecounter.com/hit.php?id=gevkaopq&nd=6&style=87" border="0" alt="free counter"></a>
                    <h4>View count</h4>
<!-- End of WebFreeCounter Code -->
                </div>

                        <div class="content-box">
                            <div class="content">
                                <div class="auto-container">
                                    <h3>Location of<span class="theme_color"> D.I.C Ballari</span></h3>
                                   <div class="mapouter"><div class="gmap_canvas" ><iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=dic%20ballari&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.enable-javascript.net/blog/divi-discount/"></a></div><style>.mapouter{position:relative;text-align:right;height:333px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:333px;width:100%;}</style></div>
                                   <h5 style="color:white"><b>This website is developed and maintained by <span class="theme_color"> CSE students, RYMEC © 2020. </span> All rights reserved. </b></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- SLIDER ITEM -->
                </div>

                <div class="banner-slider-arrows">
                    <i id="banner-slider-previous" class="banner-slider-arrow banner-slider-arrow--previous fa fa-angle-left"></i>
                    <i id="banner-slider-next" class="banner-slider-arrow banner-slider-arrow--next fa fa-angle-right"></i>
                </div>


                <!-- Social Links -->

            </div>
        </section>
        <!--End Banner Section -->

    </main>
    <!-- End Main Content -->
</div>

<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>


<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/TweenMax.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<!-- Color Setting -->
<script src="{% static 'js/color-settings.js' %}"></script>
</body>

<!--  03:29-->
</html>