{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- about-us08:04-->
<head>
<meta charset="utf-8">
<title>DIC - Factory, Industry, and Manufacturing HTML Template | About Us</title>
<!-- Stylesheets -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
<!--Color Switcher Mockup-->
<link href="{% static 'css/color-switcher-design.css' %}" rel="stylesheet">

<!--Color Themes-->
<link id="theme-color-file" href="{% static 'css/color-themes/default-theme.css' %}" rel="stylesheet">

<link rel="shortcut icon" href="{% static 'images/logosmall.png' %}" type="image/x-icon">
<link rel="icon" href="{% static 'images/logosmall.png' %}" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="{% static 'js/respond.js' %}"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Sidenav Bar -->
    <section class="sidenav-bar">
        <div class="nav-box">
            <div class="inner-box">
                <div class="upper-box">
                    <div class="btn-box"><button class="close-btn"><span class="fa fa-times"></span></button></div>
                </div>

                <!-- .Side Nav -->
                <nav class="side-nav">
                    <ul class="navigation clearfix" id="nav">
                        <li><a href="home">Home</a></li>
                        <li><a href="aboutus">About Us</a></li>
                        <li class="dropdown"><a href="services">Resources</a>
                            <ul>
                                <li><a href="services">All Services</a></li>
                                <li><a href="service_land">Land</a></li>
                                <li><a href="service_power">Power</a></li>
                                <li><a href="service_water">Water</a></li>
                                <li><a href="service_finance">Finance</a></li>
                                <li><a href="service_tech">Technology and consultance</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="policies">Policies,Act & Rules</a>
                            <ul>
                                <li><a href="policies">policies</a></li>
                                <li><a href="gos">GOVERNMENT ORDERS & CIRCULARS</a></li>
                                <li><a href="acts">ACTS & RULES</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="dept">Invester Services</a>
                            <ul>
                                <li><a href="https://udyogaadhaar.gov.in">Udyog Aadhar Memorandum Portal </a></li>
                                <li><a href="https://www.kviconline.gov.in/pmegpeportal/pmegphome/index.jsp">PMEGP Online Portal</a></li>
                                <li><a href="https://cmegp.kar.nic.in/">CMEGP Online Portal</a></li>
                                <li><a href="https://rtionline.gov.in/">RTI</a></li>
                                <li><a href="dept">Related department</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="invest">INVEST BALLARI</a>
                            <ul>
                                <li><a href="why">Why Ballari</a></li>
                                <li><a href="district">District Profile</a></li>
                                <li><a href="indust">Industrial Profile</a></li>
                                <li><a href="home">Sectorial Advantages</a></li>
                            </ul>
                        </li>

                        <li><a href="contact">Contact</a></li>
                        <li><a href="mainscheme">Schemes & programs</a></li>
                    </ul>
                </nav><!-- /.Side-menu -->

                <div class="contact-info-box">
                    <!--Info Box-->
                    <div class="info-box">
                        <div class="icon-box"><span class="fa fa-home"></span></div>
                        <p>Hospet Rd, Narayanappa Compound,<br> Fort, Ballari, Karnataka 583104</p>
                    </div>

                    <!--Info Box-->
                    <div class="info-box">
                        <div class="icon-box"><span class="far fa-clock"></span></div>
                        <p>Mon - Sat: 10:00 am - 5:30 pm</p>
                        <p>2nd & 4th saturday and sunday's  --- Closed</p>
                    </div>

                    <!--Info Box-->
                    <div class="info-box">
                        <div class="icon-box"><span class="far fa-envelope"></span></div>
                        <p><a href="tel:08392 242370">08392 242370</a></p>
                        <p><a href="mailto:jd-ballari@gmail.com">jd-ballari@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Sidenav Bar -->

    <!-- Start Main Content -->
    <main id="content">
        <!-- Main Header-->
        <header class="main-header">
            <div class="outer-container">
                <div class="main-box clearfix">
                    <div class="logo-box">
                        <script>
                        function goBack() {
                        window.history.back();
                        }
                        </script>
                        <div class="logo"><a onclick="goBack()"><img src="{% static 'back.png' %}"></a></div>
                    </div>


                    <div class="outer-box clearfix">
                        <!-- Search Btn -->
                        <!-- Btn box -->
                        <div class="logo-box">
                        <div class="logo"><a href="home"><img src="{% static 'images/home.png' %}" alt="" title=""></a></div>
                        </div>
                        <div class="btn-box no-touch"><button class="nav-toggler"><span></span></button></div>
                    </div>
                </div>
            </div>
        </header>
        <!--End Main Header -->

        <section class="project-section-two">
        <!-- Welcome Section -->
        <span class="welcome-section">
            <div class="auto-container">
                <div class="sec-title text-center">
                    <span class="float-text">Welcome</span>
                    <h2>Welcome to <span>DIC-BALLARI</span></h2><br><br>

                <div class="mixitup-gallery">
                    <div class="filters clearfix">
                        <ul class="filter-tabs filter-btns clearfix">
                            <li class="active filter" data-role="button" data-filter="all"><a href="why">WHY BALLARI ?</a></li>
                            <li class="" data-role="button" data-filter=".material"><a href="district">DISTRICT PROFILE</a></li>
                            <li class="" data-role="button" data-filter=".material"><a href="indust">INDUSTRIAL PROFILE</a></li>
                            <li class="" data-role="button" data-filter=".material"><a href="invest">SECTORIAL ADVANTAGES</a></li>
                        </ul>
                    </div></div>
                    <div class="text"><p style="color:white;">⭐ Ballari, also known as Steel City of Karnataka is home to a number of iron and steel industries and sponge iron industries. The illustrious list includes the likes of JSW Steel Ltd, SMIORE, BMM Ispat, Minera Steels, A1 Steels among others. A number of MSMEs are also present in this sphere which support these large industries. In addition to being recognised as the Steel City, Ballari is well known for  its Jeans and other Readymade Garments. Thousands of MSMEs are working on manufacturing jeans and they manufacture and supply garments to all the leading brands in the country. </p>
                    <p>&emsp;</p><p style="color:white;">⭐ The availability of natural resources and skilled manpower make it an attractive investment destination. The city is well connected by Road, Rail and Air. The district is home to numerous engineering and ITI college which produce technical graduates for industries. Also traditional artisans and women form a large part of the work force in the industries. The Industries and Commerce department has acquired and developed ready to occupy land bank. The district has also been identified as a Textile Cluster under the “Compete with China” programme of the Karnataka State government and a vision group has been constituted to develop a holistic textile cluster.</p>
                    <p>&emsp;</p><p style="color:white;">⭐ All these factors make Ballari a sought after destination to invest into industrial activity.</p></div>
                </div>
            </div>
        </span>
        <!--End Welcome Section -->


        <!-- Video Section -->
        <section class="video-section" style="background-image: url({% static 'images/background/1.jpg' %});" data-stellar-background-ratio="0.5">
            <div class="auto-container">
                <div class="content-box">
                    <div class="text">WE’RE A LEADING INDUSTRY COMPANY</div>
                    <h2>We Are Always at The <br>Forefront of The Industrial Market</h2>
                    <a href="https://www.youtube.com/watch?v=tvkC9M17Ycs" class="play-now" data-fancybox="gallery" data-caption=""><i class="icon flaticon-play-button-3" aria-hidden="true"></i><span class="ripple"></span></a>
                </div>
            </div>
        </section></div>
        <!--End Video Section -->


        <!-- Main Footer -->
        <footer class="main-footer">
            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="auto-container">
                    <div class="row">
                                <!--Footer Column-->
                                <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=dic%20ballari&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.enable-javascript.net/blog/divi-discount/"></a></div><style>.mapouter{position:relative;text-align:right;height:333px;width:802px;}.gmap_canvas {overflow:hidden;background:none!important;height:333px;max-width:802px;}</style></div>
                                    <section style="padding-left:40px"><div class="footer-widget contact-widget">
                                        <h2 class="widget-title">Contact Us</h2>
                                         <!--Footer Column-->
                                        <div class="widget-content">
                                            <ul class="contact-list">
                                                <li>
                                                    <span class="icon flaticon-clock"></span>
                                                    <div class="text">Mon - Sat: 10:00 am - 5:30 pm</div>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-call-1"></span>
                                                    <div class="text"><a href="tel:08392 242370">08392 242370</a></div>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-paper-plane"></span>
                                                    <div class="text"><a href="mailto:jd-ballari@gmail.com">jd-ballari@gmail.com</a></div>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-worldwide"></span>
                                                    <div class="text">Hospet Rd, Narayanappa Compound, Fort,<br> Ballari, Karnataka 583104</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div></section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    <!-- End Main Content -->
</div>

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>


<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/mixitup.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/TweenMax.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<!-- Color Setting -->
<script src="{% static 'js/color-settings.js' %}"></script>
</body>

<!-- about-us08:26-->
</html>