{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- service-detail08:37-->
<head>
<meta charset="utf-8">
<title>DIC - Industry and Factory | Service Detail</title>
<!-- Stylesheets -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
<!--Color Switcher Mockup-->
<link href="{% static 'css/color-switcher-design.css' %}" rel="stylesheet">

<!--Color Themes-->
<link id="theme-color-file" href="{% static 'css/color-themes/default-theme.css' %}" rel="stylesheet">

<link rel="shortcut icon" href="{% static 'images/logosmall.png' %}" type="image/x-icon">
<link rel="icon" href="{% static 'images/logosmall.png' %}" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="{% static 'js/respond.js' %}"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Sidenav Bar -->
    <section class="sidenav-bar">
        <div class="nav-box">
            <div class="inner-box">
                <div class="upper-box">
                    <div class="btn-box"><button class="close-btn"><span class="fa fa-times"></span></button></div>
                </div>

                <!-- .Side Nav -->
                <nav class="side-nav">
                    <ul class="navigation clearfix" id="nav">
                        <li><a href="home">Home</a></li>
                        <li><a href="aboutus">About Us</a></li>
                        <li class="dropdown"><a href="services">Resources</a>
                            <ul>
                                <li><a href="services">All Resources</a></li>
                                <li><a href="service_land">Land</a></li>
                                <li><a href="service_power">Power</a></li>
                                <li><a href="service_water">Water</a></li>
                                <li><a href="service_finance">Finance</a></li>
                                <li><a href="service_tech">Technology and consultance</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="policies">Policies,Act & Rules</a>
                            <ul>
                                <li><a href="policies">policies</a></li>
                                <li><a href="gos">GOVERNMENT ORDERS & CIRCULARS</a></li>
                                <li><a href="acts">ACTS & RULES</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="dept">Invester Services</a>
                            <ul>
                                <li><a href="https://udyogaadhaar.gov.in">Udyog Aadhar Memorandum Portal </a></li>
                                <li><a href="https://www.kviconline.gov.in/pmegpeportal/pmegphome/index.jsp">PMEGP Online Portal</a></li>
                                <li><a href="https://cmegp.kar.nic.in/">CMEGP Online Portal</a></li>
                                <li><a href="https://rtionline.gov.in/">RTI</a></li>
                                <li><a href="dept">Related department</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="invest">INVEST BALLARI</a>
                            <ul>
                                <li><a href="why">Why Ballari</a></li>
                                <li><a href="district">District Profile</a></li>
                                <li><a href="indust">Industrial Profile</a></li>
                                <li><a href="home">Sectorial Advantages</a></li>
                            </ul>
                        </li>

                        <li><a href="contact">Contact</a></li>
                        <li><a href="mainscheme">Schemes & programs</a></li>
                    </ul>
                </nav><!-- /.Side-menu -->

                <div class="contact-info-box">
                    <!--Info Box-->
                    <div class="info-box">
                        <div class="icon-box"><span class="fa fa-home"></span></div>
                        <p>Hospet Rd, Narayanappa Compound,<br> Fort, Ballari, Karnataka 583104</p>
                    </div>

                    <!--Info Box-->
                    <div class="info-box">
                        <div class="icon-box"><span class="far fa-clock"></span></div>
                        <p>Mon - Sat: 10:00 am - 5:30 pm</p>
                        <p>2nd & 4th saturday and sunday's  --- Closed</p>
                    </div>

                    <!--Info Box-->
                    <div class="info-box">
                        <div class="icon-box"><span class="far fa-envelope"></span></div>
                        <p><a href="tel:08392 242370">08392 242370</a></p>
                        <p><a href="mailto:jd-ballari@gmail.com">jd-ballari@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Sidenav Bar -->

    <!-- Start Main Content -->
    <main id="content">

        <!-- Main Header-->
        <header class="main-header">
            <div class="outer-container">
                <div class="main-box clearfix">
                    <div class="logo-box">
                        <script>
                        function goBack() {
                        window.history.back();
                        }
                        </script>
                        <div class="logo"><a onclick="goBack()"><img src="{% static 'back.png' %}"></a></div>
                    </div>


                    <div class="outer-box clearfix">
                        <!-- Search Btn -->
                        <!-- Btn box -->
                        <div class="logo-box">
                        <div class="logo"><a href="home"><img src="{% static 'images/home.png' %}" alt="" title=""></a></div>
                    </div>
                        <div class="btn-box no-touch"><button class="nav-toggler"><span></span></button></div>
                    </div>
                </div>
            </div>
        </header>
        <!--End Main Header -->


        <!-- Service Detail Section -->
        <div class="service-detail-section">
            <div class="auto-container">
                <div class="row">
                    <!--Content Side-->
                    <div class="content-side col-lg-8 col-md-12 col-sm-12 order-2">
                        <div class="service-detail">
                            <!-- Image Box -->
                            <div class="image-box">
                                <div class="image wow fadeIn">
                                    <a href="{% static 'images/resource/project-detail.jpg' %}" class="lightbox-image" data-fancybox="gallery"><img src="{% static 'images/resource/project-detail.jpg' %}" alt=""></a>
                                </div>
                            </div>

                            <!--Title Style One-->
                            <div class="content-box">
                                <h2>LAND / SHED / PLOT - KIADB</h2>
                                <p>Land for industries will be provided either by the Karnataka Industrial Areas Development Board KIADB or by Karnataka State Small Industries Development Corporation KSSIDC</p>
                                <h4>Karnataka Industrial Areas Development Board [KIADB]</h4>
                                <p>Karnataka Industrial Areas Development Board (KIADB) is a statutory body, playing an important role in development of industries in the state.<br>KIADB is a established by the Govt. for acquiring land for industrial projects and to develop industrial areas. <br>KIADB is engaged in acquiring, developing and allotting industrial areas with comprehensive infrastructures.<br>KIADB Industrial areas are of ready to occupy in nature and facilitate investors to start their ventures without any loss of time.</p>
                                <div class="two-column row">
                                    <div class="text-column col-lg-6 col-md-6 col-sm-12 order-2">
                                        <p>In all the industrial areas developed by KIADB, basic infrastructural facilities like roads, water supply, power supply, street lights, common facility centers buildings, housing and offsite infrastructure like widening and improvement of approach roads are provided.</p>
                                         <a class="theme-btn btn-style-two" href="http://en.kiadb.in"><span class="btn-title">Click here to visit KIADB website</span></a>
                                    </div>
                                    <div class="image-column col-lg-6 col-md-6 col-sm-12">
                                        <figure class="image"><a href="{% static 'images/resource/kiadb.jpg' %}" class="lightbox-image" data-fancybox="images"><img src="{% static 'images/resource/kiadb.jpg' %}" alt=""></a></figure>
                                    </div>
                                </div>
                                <h2>LAND / SHED / PLOT - KSSIDC</h2>
                                <h4>Karnataka State Small Industries Development Corporation [KSSIDC]</h4>
                                <p>Karnataka State Small Industries Development Corporation is the industrial and investment promotion agency of the Government of Karnataka.</p>
                                <p>KSSIDC is another organisation of the Govt. engaged in providing readymade industrial sheds for the ready use of investors.</p>
                                   <p> KSSIDC (then Mysore Small Industries Corporation) is rendering services to the small sector in the State for more than 40 years.</p>
                                <p>The Corporation started with the following as its Main Services:</p>
                                <p>1. Establishment and Management of Industrial Estates.<br>2. Procurement and distribution of raw materials.<br>3. Assistance towards marketing.<br>4. Dissemination of information by participating in the internal and international exhibitions.
                                <br>5. Supply of machinery under Hire Purchase Scheme.<br>6. Providing Guidance to SSI Entrepreneurs.<br>7. Providing Technical Library facilities.</p>
                                <div class="two-column row">
                                    <div class="text-column col-lg-6 col-md-6 col-sm-12 order-2">
                                       <br>  <a class="theme-btn btn-style-two" href="http://kssidc.co.in/english/index.php"><span class="btn-title">Click here to visit KSSIDC website</span></a>
                                    </div>
                                    <div class="image-column col-lg-6 col-md-6 col-sm-12">
                                        <figure class="image"><a href="{% static 'images/resource/kssidc.png' %}" class="lightbox-image" data-fancybox="images"><img src="{% static 'images/resource/kssidc.png' %}" alt=""></a></figure>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Service Detail -->
                    </div>

                    <!--Sidebar Side-->
                    <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                        <aside class="sidebar services-sidebar">

                            <!-- Services Cat List -->
                            <div class="sidebar-widget categories">
                                <ul class="cat-list">
                                    <li><a href="services">All Resources</a></li>
                                    <li><a href="service_tech">technology</a></li>
                                    <li><a href="service_power">Power</a></li>
                                    <li><a href="service_finance">Finance</a></li>
                                    <li class="active"><a href="service_land">Land</a></li>
                                    <li><a href="service_water">Water</a></li>
                                </ul>
                            </div>

                            <!--Brochure Box-->
                            <div class="sidebar-widget brochure-box">
                                <div class="inner">
                                    <h4>Download Brochures</h4>
                                    <div class="text">Downloadable files</div>
                                    <a class="theme-btn btn-style-one" href="policies"><span class="btn-title"><i class="fa fa-file-pdf"></i> Policies Brochures</span></a>
                                    <a class="theme-btn btn-style-one" href="gos"><span class="btn-title"><i class="fa fa-file-pdf"></i> Govt Orders & Circulars</span></a>
                                    <a class="theme-btn btn-style-one" href="acts"><span class="btn-title"><i class="fa fa-file-pdf"></i> Govt Acts & Rules</span></a>
                                </div>
                            </div>

                            <!-- Brochure -->
                            <div class="sidebar-widget help-box">
                                <div class="inner-box">
                                    <h6>For Any Further Details Contact</h6>
                                    <ul class="info-box">
                                        <li><span class="icon fa fa-envelope"></span> <a href="mailto:jd-ballari@gmail.com">jd-ballari@gmail.com</a></li>
                                        <li><span class="icon fa fa-phone"></span> <a href="tel:08392 242370">08392 242370</a></li>
                                    </ul>
                                    <a class="theme-btn btn-style-two" href="contact"><span class="btn-title">Contact Us</span></a>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service Detail Section -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="auto-container">
                    <div class="row">
                                <!--Footer Column-->
                                <div class="mapouter"><div class="gmap_canvas"><iframe width="802" height="333" id="gmap_canvas" src="https://maps.google.com/maps?q=dic%20ballari&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.enable-javascript.net/blog/divi-discount/"></a></div><style>.mapouter{position:relative;text-align:right;height:333px;width:802px;}.gmap_canvas {overflow:hidden;background:none!important;height:333px;width:802px;}</style></div>
                                    <section style="padding-left:40px"><div class="footer-widget contact-widget">
                                        <h2 class="widget-title">Contact Us</h2>
                                         <!--Footer Column-->
                                        <div class="widget-content">
                                            <ul class="contact-list">
                                                <li>
                                                    <span class="icon flaticon-clock"></span>
                                                    <div class="text">Mon - Sat: 10:00 am - 5:30 pm</div>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-call-1"></span>
                                                    <div class="text"><a href="tel:08392 242370">08392 242370</a></div>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-paper-plane"></span>
                                                    <div class="text"><a href="mailto:jd-ballari@gmail.com">jd-ballari@gmail.com</a></div>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-worldwide"></span>
                                                    <div class="text">Hospet Rd, Narayanappa Compound, Fort,<br> Ballari, Karnataka 583104</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div></section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    <!-- End Main Content -->
</div>

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>



<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/mixitup.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/TweenMax.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<!-- Color Setting -->
<script src="{% static 'js/color-settings.js' %}"></script>
</body>

<!-- service-detail08:56-->
</html>